#
# https://docs.docker.com/engine/reference/builder/#dockerignore-file
# https://codefresh.io/blog/not-ignore-dockerignore/
#
# By default, ignore everything
#
*
#
# These files are included
#
!requirements*
!src/
!data/
!files/custom-user.sh
